# Dependencies
node_modules/

# Build output (we'll use gh-pages branch for deployment)
dist/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Local env files
.env
.env.local
.env.*.local

